<div class="ui inverted menu  nav mb-7">
    <div class="ui container">
      <a href="" class="item">
          <h3>SocialNetwork</h3>
      </a>
      {% if request.user.is_authenticated %}
      <a href="{% url 'main-post-view' %}" class="item">
          Home
      </a>
      {% endif %}
  
      <div class="right menu">
          {% if request.user.is_authenticated %}
          <div class="item">
              <div class="ui floating dropdown icon button teal"> Friends
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <a href="{% url 'all-profiles-view' %}" class="item">
                          All Profiles
                      </a>
                      <a href="{% url 'invite-profiles-view' %}" class="item">
                          Send Invites
                      </a>
        
                      <a href="{% url 'my-invites-view' %}" class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                        Received Invites &nbsp; <div class="ui purple horizontal label">{{invites_num}}</div>
                    </a>
                     
                  </div>
               </div>
               
          </div>
               <div class="item">
                <form action="{% url 'search_results' %}" method="GET">
                  <div class="ui action left icon input">
                  <input class="prompt" id="query" type="text" name='q' placeholder="name of a friend...">
                  <i class="search icon"></i>
                  <button type='submit' class="ui button">Search</button>
                  </div>
              </form>
              </div>
              <script>

                $(function() {
                  $("#query").autocomplete({
                    source: "/search_auto/",
                    select: function (event, ui) { //item selected
                      AutoCompleteSelectHandler(event, ui)
                    },
                    minLength: 2,
                  });
                });
              
                function AutoCompleteSelectHandler(event, ui)
                {
                  var selectedObj = ui.item;
                }
              
              </script>
          
              <a href="{% url 'my-profile-view' %}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                <img src={{picture.url}} class="ui avatar image">&nbsp;
                 {{ request.user }}
            </a>
              <a href="{% url 'account_logout' %}" class="ui item">
                  Logout
              </a>
          {% else %}
          <a href="{% url 'account_login' %}" class="ui item">
                  Login
              </a>
          {% endif %}
      </div>
    </div>
  </div>